$gray: #e7e9eb;

.App {
  text-align: center;
}

.flex {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  width: 14rem;

  border-right: 1px solid $gray;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &.active {
          background-color: $gray;
        }
      }
    }
  }
}

.NavLink {
  background-color: gray;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
}

.footer {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Todo {
  width: 100%;
}
