.App {
  text-align: center;
}

.flex {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-NavbarNav {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 8);
}

.sidebar {
  width: 14rem;

  border-right: 1px solid gray;
}

.ul {
  list-style: none;
  padding: 1rem 2rem;
}

.li {
  margin-bottom: 1rem;
}

#a {
  text-decoration: none;
}

.NavLink {
  background-color: gray;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
}

.footer {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Todo {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
