$gray: #e7e9eb;

.App {
  text-align: center;
}

.flex {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  width: 14rem;

  border-right: 1px solid $gray;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &.active {
          background-color: $gray;
        }
      }
    }
  }
}

.NavLink {
  background-color: gray;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
}

.footer {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Todo {
  width: 100%;
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #000000;
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.main-para {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}
